{% extends "community/base.html" %}
{% load django_bootstrap5 %}
{% block content %}
    {% bootstrap_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">


    <h2>{{ columns.title }}</h2>
    <div style="padding:10px;">
        {# image 필드에 저장된 파일이 있다면 #}
        {% if columns.image %}
            <img src="{{ columns.image.url }}" />
        {% endif %}
    </div>
    <p>{{ columns.content }}</p>
    <small style="float: right;">{{ columns.created_at }}</small>

    </hr>
    <div style="padding:15px;">
    </div>
    <a href="/community/column/" style="float: right;">댓글 작성</a>
    <a href="/community/column/" style="float: right;">Column 목록</a>
    <div style="padding:15px;">
    </div>

{% endblock %}