{% extends "community/base.html" %}
{% load django_bootstrap5 %}
{% block content %}
    {% bootstrap_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">

    <!--
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ columns.title }} - column</title>

</head>
<body> -->


    <h2>{{ columns.title }}</h2>
    <div style="padding:10px;">
    </div>
    <p>{{ columns.content }}</p>
    <small style="float: right;">{{ columns.created_at }}</small>

    </hr>
    <div style="padding:15px;">
    </div>

    <a href="/community/column/" style="float: right;">Column 목록</a>
    <div style="padding:15px;">
    </div>

{% endblock %}