{% extends "community/base.html" %}
{% load django_bootstrap5 %}
{% block content %}
    {% bootstrap_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">


    <h1>Column</h1>
    <div style="padding:15px;"></div>

    {% for columns in column_list %}
        <div class="card" >
            <div class="card-header" >
                <h2>
                    <a href="{{ columns.pk }}/" style="text-decoration-line: none; color: black">
                        {{ columns.title }}
                    </a>
                </h2>
            </div>
            <div class="card-body" style="padding: 15px">
                <h4>{{ columns.content }}</h4>
                <small style="float: right;">{{ columns.created_at }}</small>
            </div>
        </div>
        <div style="padding:10px;">
        </div>
    {% endfor %}

    <div style="padding:20px;">
    </div>

    <button type="button" class="btn btn-outline-secondary" style="float: right">
        <a href="new/" style="text-decoration-line: none; color: black">새 포스팅 쓰기</a>
    </button>
    <div style="padding:30px;">
    </div>

    <footer class="blog-footer" style="text-align: center" >
        <a href="/community/column" style="text-decoration-line: none;">Back to top</a>
    </footer>

{% endblock %}