{% extends "community/base.html" %}
{% load django_bootstrap5 %}
{% block content %}

    <h1>Columns</h1>

    {% for columns in column_list %}
        <h2>
            <a href="{{ columns.pk }}/">
                {{ columns.title }}
            </a>
        </h2>
        <h6>{{ columns.created_at }}</h6>
        <p>{{ columns.content }}</p>
    {% endfor %}

    <a href="new/">새 포스팅 쓰기</a>

    <footer class="blog-footer">
        <a href="/community/column">Back to top</a>
    </footer>

{% endblock %}