{% extends "community/base.html" %}
{% load django_bootstrap5 %}
{% block content %}
    {% bootstrap_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <div class="container-lg">
        <div style="padding:15px;"></div>
        <h1>Column 리스트</h1>
        <div style="padding:15px;"></div>
        {% for columns in column_list %}

            <div class="card" style="width: 80rem;">
                <a href ="{{ columns.pk }}/">
                    <img src="{{ columns.image.url }}" class="card-img-top" alt="등록한 컬럼 이미지입니다" height="400">
                </a>
                <div class="card-body">
                    <div style="padding:15px;"></div>
                    <h2 class="card-title"> {{ columns.title }}</h2>
                    <div style="padding:15px;"></div>
                    <h4 class="card-text">{{ columns.content }}</h4>
                    <div style="padding:15px;"></div>
                    <a href="{{ columns.pk }}/"><button class="btn btn-success" style="float: right" >컬럼 읽기</button></a>
                </div>
            </div>
            <div style="padding:20px;">
            </div>

        {% endfor %}

        <div style="padding:20px;">
        </div>
        <a href="new/"><button class="btn btn-success" style="float: right" >새 컬럼 작성</button></a>
        <div style="padding:30px;">
        </div>

        <footer class="blog-footer" style="text-align: center" >
            <a href="/community/column" style="text-decoration-line: none;">Back to top</a>
        </footer>
    </div>
{% endblock %}