{% extends "community/base.html" %}
{% load django_bootstrap5 %}
{% block content %}
    {% bootstrap_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">


    <h2>{{ events.title }}</h2>
    <div style="padding:10px;">
            {# image 필드에 저장된 파일이 있다면 #}
        {% if events.image %}
            <img src="{{ events.image.url }}" />
        {% endif %}
    </div>
    <p>{{ events.content }}</p>
    <small style="float: right;">{{ events.created_at }}</small>

    </hr>
    <div style="padding:15px;">
    </div>

    <a href="/community/event/" style="float: right;">댓글 작성</a>
    <a href="/community/event/" style="float: right;">Event 목록</a>
    <div style="padding:15px;">
    </div>
{% endblock %}