{% extends "community/base.html" %}
{% load django_bootstrap5 %}
{% block content %}
    {% bootstrap_css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <div class="container-lg">
        <div style="padding:15px;"></div>
        <div class="container-sm">
            <a href="/community/event/"><button class="btn btn-success" style="float: right" >이벤트 리스트</button></a></div>
        <div style="padding:15px;"></div>
        <div class="container-fluid">
            <h2>{{ events.title }}</h2></div>
        <div style="padding:10px;"></div>
        <small style="float: right;">작성일시: {{ events.created_at }}</small>
        {# image 필드에 저장된 파일이 있다면 #}
        {% if events.image %}
            <img src="{{ events.image.url }}" class="img-fluid" width="1270">
        {% endif %}
    </div>
    <div style="padding:15px;"></div>
    <div class="container-fluid">
        <p>{{ events.content }}</p></div>
    <div style="padding:10px;"></div>
    </hr>
{% endblock %}