{% extends 'search/base.html' %}

{% block content %}
<div class='row'>
  <div class='col-sm-9'>
    <form action="" method="post" class="form-search d-flex align-items-stretch mb-3 aos-init aos-animate">
        <input type="text" class="form-control" name="search" placeholder={{search}}>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    {% if not search_list %}

        <h3>검색 결과가 없습니다! 다른 키워드를 검색해 보는 건 어떠세요? </h3>

    {% else %}
        <h3>{{search}}에 대한 검색 결과</h3>
        <hr style="line: solid 10px black;">
        {% for search_list in search_list.all %}
                    <h4><a href = "/search/beerprofile/{{ search_list.id }}/">{{search_list.name}}</a></h4>
                    <h6>맥주 종류: {{search_list.kind}}</h6>
                    <h6>양조장명: {{search_list.brewery}}</h6>
                    <h6>제조 국가: {{search_list.country}}</h6>
        <hr style="line: solid 10px black;">
        {% endfor %}

    {% endif %}
  </div>
  <div class='col-sm-3'>
      <h1>
          이런 맥주는 어떠신가요?
      <h1>
  </div>
</div>
{% endblock %}