{% extends "search/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

    <div style="padding:12px;"></div>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true" xmlns="http://www.w3.org/1999/html">
        <!--<div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div> -->
        <!--  <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/static/img01.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/static/img02.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/static/img03.png" class="d-block w-100" alt="...">
            </div>
          </div> -->

        <div class='container'>
            <form action="" method="post" class="form-search d-flex align-items-stretch mb-3 aos-init aos-animate">
                <input type="text" class="form-control" name="search" placeholder="Name, Style, Brewery">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>

    <div style="padding:7px;"></div>

<div class="container">
  <div class="row">
    <div class="col">
        <div class='filter-item'>
                        <ul class='box-view; flex-sm-wrap;'>
                            <h3><span>맥주종류</span></h3>
                            <div style="padding:6px;"></div>
                            <div style="padding:6px;"></div>


                             <div class="float-right">
                                <input id='ch01-01' name='chCategory' type='checkbox' onclick="mainCategoryClick('type_wineType', 'ch01-01', 'Pale Ales', 'W01004');"><label for='ch01-01'>
                                <h5> &nbsp;Pale Ales</h5></label>
                                <input id='ch01-01' name='chCategory' type='checkbox' onclick="mainCategoryClick('type_wineType', 'ch01-01', 'India Pale Ales', 'W01004');"><label for='ch01-01'>
                                <h5> &nbsp;India Pale Ales</h5></label>
                            </div>

                            <div style="padding:6px;"></div>
                            <div style="padding:6px;"></div>

                            <div class="float-right">
                                <input id='ch01-01' name='chCategory' type='checkbox' onclick="mainCategoryClick('type_wineType', 'ch01-01', 'Stouts', 'W01004');"><label for='ch01-01'>
                                <h5> &nbsp;Stouts</h5></label>
                                <input id='ch01-01' name='chCategory' type='checkbox' onclick="mainCategoryClick('type_wineType', 'ch01-01', 'Pale Lagers', 'W01004');"><label for='ch01-01'>
                                <h5> &nbsp;Pale Lagers</h5></label>
                            </div>

                            <div style="padding:6px;"></div>
                            <div style="padding:6px;"></div>


                            <div class="float-right">
                                <input id='ch01-01' name='chCategory' type='checkbox' onclick="mainCategoryClick('type_wineType', 'ch01-01', 'Wild/Sour Beers', 'W01004');"><label for='ch01-01'>
                                <h5> &nbsp;Wild/Sour Beers</h5></label>
                                <input id='ch01-01' name='chCategory' type='checkbox' onclick="mainCategoryClick('type_wineType', 'ch01-01', 'Specialty Beers', 'W01004');"><label for='ch01-01'>
                                <h5> &nbsp;Specialty Beers</h5></label>
                            </div>

                            <div style="padding:6px;"></div>
                            <div style="padding:6px;"></div>


                            <div class="float-right">
                               <input id='ch01-01' name='chCategory' type='checkbox' onclick="mainCategoryClick('type_wineType', 'ch01-01', 'Porters', 'W01004');"><label for='ch01-01'>
                                <h5> &nbsp;Porters</h5></label>
                                <input id='ch01-01' name='chCategory' type='checkbox' onclick="mainCategoryClick('type_wineType', 'ch01-01', 'Wheat Beers', 'W01004');"><label for='ch01-01'>
                                <h5> &nbsp;Wheat Beers</h5></label>
                            </div>

                            <div style="padding:6px;"></div>
                            <div style="padding:6px;"></div>



                            <div class="float-right">
                               <input id='ch01-01' name='chCategory' type='checkbox' onclick="mainCategoryClick('type_wineType', 'ch01-01', 'Dark Lagers');"><label for='ch01-01'>
                                <h5> &nbsp;Dark Lagers</h5></label>
                                <input id='ch01-01' name='chCategory' type='checkbox' onclick="mainCategoryClick('type_wineType', 'ch01-01', 'Brown Ales');"><label for='ch01-01'>
                                <h5> &nbsp;Brown Ales</h5></label>
                            </div>

                            <div style="padding:6px;"></div>
                            <div style="padding:6px;"></div>


                            <div class="float-right">
                               <input id='ch01-01' name='chCategory' type='checkbox' onclick="mainCategoryClick('type_wineType', 'ch01-01', 'Bocks');"><label for='ch01-01'>
                                <h5> &nbsp;Bocks</h5></label>
                                <input id='ch01-01' name='chCategory' type='checkbox' onclick="mainCategoryClick('type_wineType', 'ch01-01', 'Dark Ales');"><label for='ch01-01'>
                                <h5> &nbsp;Dark Ales</h5></label>
                            </div>

                            <div style="padding:6px;"></div>
                            <div style="padding:6px;"></div>


                            <div class="float-right">
                               <input id='ch01-01' name='chCategory' type='checkbox' onclick="mainCategoryClick('type_beerType', 'ch01-01', 'Strong Ales');"><label for='ch01-01'>
                                <h5> &nbsp;Strong Ales</h5></label>
                                <input id='ch01-01' name='chCategory' type='checkbox' onclick="mainCategoryClick('type_beerType', 'ch01-01', 'Hybrid Beers');"><label for='ch01-01'>
                                <h5> &nbsp;Hybrid Beers</h5></label>
                            </div>

                        </ul>
                    </div>

    </div>
    <div class="col">
      <div class='filter-item'>
               <ul class='box-view'>
                        <h3><span>국가</span></h3>
                        <div style="padding:6px;"></div>
                        <div style="padding:6px;"></div>
                  <div class=''><input id='asd-ch02-01' name='chCategory' type='checkbox' onclick="mainCategoryClick('type_nation', 'asd-ch02-01', '미국', 'P09000000');">
                            <label for='asd-ch02-01'><h5>미국</h5></label></div>
                        <div style="padding:6px;"></div>
                            <div style="padding:6px;"></div>
                  <div class=''><input id='asd-ch02-02' name='chCategory' type='checkbox' onclick="mainCategoryClick('type_nation', 'asd-ch02-02', '벨기에', 'P15000000');">
                            <label for='asd-ch02-02'><h5>벨기에</h5</label></div>
                        <div style="padding:6px;"></div>
                            <div style="padding:6px;"></div>
                  <div class=''><input id='asd-ch02-04' name='chCategory' type='checkbox' onclick="mainCategoryClick('type_nation', 'asd-ch02-04', '독일', 'P24000000');">
                            <label for='asd-ch02-04'><h5>독일</h5></label></div>
                        <div style="padding:6px;"></div>
                            <div style="padding:6px;"></div>
                   <div class=''><input id='asd-ch02-05' name='chCategory' type='checkbox' onclick="mainCategoryClick('type_nation', 'asd-ch02-05', '영국', 'P19000000');">
                            <label for='asd-ch02-05'><h5>영국</h5></label></div>
                        <div style="padding:6px;"></div>
                            <div style="padding:6px;"></div>
                        <div class=''><input id='asd-ch02-03' name='chCategory' type='checkbox' onclick="mainCategoryClick('type_nation', 'asd-ch02-03', '캐나다', 'P11000000');">
                            <label for='asd-ch02-03'><h5>캐나다</h5></label></div>
                        <div style="padding:6px;"></div>
                            <div style="padding:6px;"></div>
                        <div class=''><input id='asd-ch02-06' name='chCategory' type='checkbox' onclick="mainCategoryClick('type_nation', 'asd-ch02-06', '덴마크', 'P28000000');">
                            <label for='asd-ch02-06'><h5>덴마크</h5></label></div>
                        <div style="padding:6px;"></div>
                            <div style="padding:6px;"></div>
                        <div class=''><input id='asd-ch02-09' name='chCategory' type='checkbox' onclick="mainCategoryClick('type_nation', 'asd-ch02-09', '네덜란드', 'P02000000');">
                            <label for='asd-ch02-09'><h5>네덜란드</h5></label></div>
                  </ul>
            </div>
    </div>

    <div class="col">
        <div class='filter-item'>
                    <ul class=''>
                        <div class="container">
                            <h3><span>맥주스타일</span></h3>
                            <div style="padding:4px;"></div>

                        <span class="ft-16"><h5>당도</h5></span>
                            <div style="padding:3px;"></div>
                        <div class="form-check form-check-inline">
                            <input name='당도' class="form-check-input" Seq='type_sweet|당도|1' type="radio" name="flexRadioDefault" id='asd-ch05-01-01'>
                                <label class="form-check-label" for="flexRadioDefault1">
                                1
                                </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name='당도' class="form-check-input" Seq='type_sweet|당도|2' type="radio" name="flexRadioDefault" id="asd-ch05-01-02">
                                <label class="form-check-label" for="flexRadioDefault1">
                                2
                                </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name='당도' class="form-check-input" Seq='type_sweet|당도|3' type="radio" name="flexRadioDefault" id="asd-ch05-01-03">
                                <label class="form-check-label" for="flexRadioDefault1">
                                3
                                </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name='당도' class="form-check-input" Seq='type_sweet|당도|4' type="radio" name="flexRadioDefault" id="asd-ch05-01-04">
                                <label class="form-check-label" for="flexRadioDefault1">
                                4
                                </label>

                        </div>
                        <div class="form-check form-check-inline">
                            <input name='당도' class="form-check-input" Seq='type_sweet|당도|5' type="radio" name="flexRadioDefault" id="asd-ch05-01-05">
                                <label class="form-check-label" for="flexRadioDefault1">
                                5
                                </label>
                        </div>
                        </div>

<div style="padding:6px;"></div>

                        <div class="container">
                        <span class="ft-16"><h5>바디감</h5></span>
                            <div style="padding:3px;"></div>
                        <div class="form-check form-check-inline">
                            <input name='바디감' class="form-check-input" Seq='type_sweet|바디감|1' type="radio" name="flexRadioDefault" id='asd-ch05-02-01'>
                                <label class="form-check-label" for="flexRadioDefault1">
                                1
                                </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name='바디감' class="form-check-input" Seq='type_sweet|바디감|2' type="radio" name="flexRadioDefault" id="asd-ch05-02-02">
                                <label class="form-check-label" for="flexRadioDefault1">
                                2
                                </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name='바디감' class="form-check-input" Seq='type_sweet|바디감|3' type="radio" name="flexRadioDefault" id="asd-ch05-02-03">
                                <label class="form-check-label" for="flexRadioDefault1">
                                3
                                </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name='바디감' class="form-check-input" Seq='type_sweet|바디감|4' type="radio" name="flexRadioDefault" id="asd-ch05-02-04">
                                <label class="form-check-label" for="flexRadioDefault1">
                                4
                                </label>

                        </div>
                        <div class="form-check form-check-inline">
                            <input name='바디감' class="form-check-input" Seq='type_sweet|바디감|5' type="radio" name="flexRadioDefault" id="asd-ch05-02-05">
                                <label class="form-check-label" for="flexRadioDefault1">
                                5
                                </label>
                        </div>
                        </div>

<div style="padding:6px;"></div>

                        <div class="container">
                        <span class="ft-16"><h5>과일향</h5></span>
                            <div style="padding:3px;"></div>
                        <div class="form-check form-check-inline">
                            <input name='과일향' class="form-check-input" Seq='type_sweet|과일향|1' type="radio" name="flexRadioDefault" id='asd-ch05-03-01'>
                                <label class="form-check-label" for="flexRadioDefault1">
                                1
                                </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name='과일향' class="form-check-input" Seq='type_sweet|과일향|2' type="radio" name="flexRadioDefault" id="asd-ch05-03-02">
                                <label class="form-check-label" for="flexRadioDefault1">
                                2
                                </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name='과일향' class="form-check-input" Seq='type_sweet|과일향|3' type="radio" name="flexRadioDefault" id="asd-ch05-03-03">
                                <label class="form-check-label" for="flexRadioDefault1">
                                3
                                </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name='과일향' class="form-check-input" Seq='type_sweet|과일향|4' type="radio" name="flexRadioDefault" id="asd-ch05-03-04">
                                <label class="form-check-label" for="flexRadioDefault1">
                                4
                                </label>

                        </div>
                        <div class="form-check form-check-inline">
                            <input name='과일향' class="form-check-input" Seq='type_sweet|과일향|5' type="radio" name="flexRadioDefault" id="asd-ch05-03-05">
                                <label class="form-check-label" for="flexRadioDefault1">
                                5
                                </label>
                        </div>
                        </div>

<div style="padding:6px;"></div>

                        <div class="container">
                        <span class="ft-16"><h5>홉향</h5></span>
                            <div style="padding:3px;"></div>
                        <div class="form-check form-check-inline">
                            <input name='홉향' class="form-check-input" Seq='type_sweet|홉향|1' type="radio" name="flexRadioDefault" id='asd-ch05-04-01'>
                                <label class="form-check-label" for="flexRadioDefault1">
                                1
                                </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name='홉향' class="form-check-input" Seq='type_sweet|홉향|2' type="radio" name="flexRadioDefault" id="asd-ch05-04-02">
                                <label class="form-check-label" for="flexRadioDefault1">
                                2
                                </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name='홉향' class="form-check-input" Seq='type_sweet|홉향|3' type="radio" name="flexRadioDefault" id="asd-ch05-04-03">
                                <label class="form-check-label" for="flexRadioDefault1">
                                3
                                </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name='홉향' class="form-check-input" Seq='type_sweet|홉향|4' type="radio" name="flexRadioDefault" id="asd-ch05-04-04">
                                <label class="form-check-label" for="flexRadioDefault1">
                                4
                                </label>

                        </div>
                        <div class="form-check form-check-inline">
                            <input name='홉향' class="form-check-input" Seq='type_sweet|홉향|5' type="radio" name="flexRadioDefault" id="asd-ch05-04-05">
                                <label class="form-check-label" for="flexRadioDefault1">
                                5
                                </label>
                        </div>
                        </div>

<div style="padding:6px;"></div>

                        <div class="container">
                        <span class="ft-16"><h5>맥아향</h5></span>
                            <div style="padding:3px;"></div>
                        <div class="form-check form-check-inline">
                            <input name='맥아향' class="form-check-input" Seq='type_sweet|맥아향|1' type="radio" name="flexRadioDefault" id='asd-ch05-05-01'>
                                <label class="form-check-label" for="flexRadioDefault1">
                                1
                                </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name='맥아향' class="form-check-input" Seq='type_sweet|맥아향|2' type="radio" name="flexRadioDefault" id="asd-ch05-05-02">
                                <label class="form-check-label" for="flexRadioDefault1">
                                2
                                </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name='맥아향' class="form-check-input" Seq='type_sweet|맥아향|3' type="radio" name="flexRadioDefault" id="asd-ch05-05-03">
                                <label class="form-check-label" for="flexRadioDefault1">
                                3
                                </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name='맥아향' class="form-check-input" Seq='type_sweet|맥아향|4' type="radio" name="flexRadioDefault" id="asd-ch05-05-04">
                                <label class="form-check-label" for="flexRadioDefault1">
                                4
                                </label>

                        </div>
                        <div class="form-check form-check-inline">
                            <input name='맥아향' class="form-check-input" Seq='type_sweet|맥아향|5' type="radio" name="flexRadioDefault" id="asd-ch05-05-05">
                                <label class="form-check-label" for="flexRadioDefault1">
                                5
                                </label>
                        </div>
                        </div>
                    </ul>
            </div>
            </div>
        </div>
</div>


{% endblock %}