<!-- 아래 네개 템플릿에서 중복되는 부분 일괄적용-->
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오늘 시간 BEER</title>
    {% bootstrap_css %}
</head>
<body>

<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <span class="fs-4">Riley's diary</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/blog/" class="nav-link">Blog</a></li>
            <li class="nav-item"><a href="/diary/" class="nav-link">Diary</a></li>

            {% if not user.is_authenticated %}
                <li class="nav-item"><a href="/accounts/signup/" class="nav-link">Signup</a></li>
                <li class="nav-item"><a href="/accounts/login/" class="nav-link">Login</a></li>
            {% else %}
                <li class="nav-item"><a href="/accounts/profile/" class="nav-link">Profile</a></li>
                <li class="nav-item"><a href="/accounts/logout/" class="nav-link">Logout</a></li>
            {% endif %}
        </ul>
    </header>
</div>
<div class="container">
    {% bootstrap_messages %}

    <!--부트스트랩 적용 전 코드
{% if messages %}
    <ul>
    {% for message in messages %}
        <li>
        {{ message.tags }}
        {{ message }}
        </li>
    {% endfor %}
    </ul>
{% endif %}
    <h1>Riley's Diary📄🖌</h1>-->

    {% block content %}{% endblock %}

    <hr/>
    &copy; 2022. Riley lee corporation.
</div>
{% bootstrap_javascript %} <!--ui적인 요소들이 먼저 로드될 수 있도록 이건 아래로 빼줌-->
</body>
</html>