{% extends "account/base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">

{% block content %}
    <h3 class="wrap-tit" >MY PAGE</h3>
    <table>
        <thead>
        <tr>
            <th>사용자 ID</th>
            <th>닉네임</th>
            <th>이메일 주소</th>
            <th>성별</th>
            <th>나이</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td><h4>{{ person.username }}</h4></td>
            <td><h4>{{ person.nickname }}</h4></td>
            <td><h4>{{ person.email }}</h4></td>
            <td><h4>{{ person.gender }}</h4></td>
            <td><h4>{{ person.age }}</h4></td>
        </tr>
        </tbody>
    </table>

    <div class="container-sm" style = "padding: 10px;" >
        <h2>
            <a href="/search/"><button class="btn btn-success" style="float: right" >홈화면으로 이동</button></a>
        </h2>
    </div>



{% endblock %}