{% extends "account/base.html" %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">

{% block content %}
    <h3 class="wrap-tit" >MY PAGE</h3>
    <div class='col-sm-9'>
        <table class="table">
            <thead>
            <tr>
                <th>사용자 ID</th>
                <th>              </th>
                <th>{{ person.username }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>닉네임</td>
                <td>           </td>
                <td>{{ person.nickname }}</td>
            </tr>
            <tr>
                <td>이메일 주소</td>
                <td>        </td>
                <td>{{ person.email }}</td>
            </tr>
            <tr>
                <td>성별</td>
                <td>               </td>
                <td>{{ person.gender }}</td>
            </tr>
            <tr>
                <td>나이</td>
                <td>               </td>
                <td>{{ person.age }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container-sm" style = "padding: 10px;" >
        <h2>
            <a href="/search/"><button class="btn btn-success" style="float: right" >홈화면으로 이동</button></a>
        </h2>
    </div>



{% endblock %}